html
    head
        title Dashboard
    body
        h1 Dashboard
        hr
        p Login as #{data}
        a(href="/logout") Logout
        br
        hr
        h1 List User
        p #{listUser}